body {
  font-family: Arial, sans-serif;
}

/* .navbar {
  border-bottom: 2px solid #ddd;
} */

.card {
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}
